@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  src: local('Permanent Marker'), local('PermanentMarker'), url(http://themes.googleusercontent.com/static/fonts/permanentmarker/v2/9vYsg5VgPHKK8SXYbf3sMupm9E4gBdgiUiSJePew_SQ.woff) format('woff');
}


body {
/*  background-color: #F8F8F8; */
  font-family: Permanent Marker', cursive;
/*  font-size: 14px;*/
/*  font-weight: normal;*/
/*  line-height: 1.2em;*/
  margin: 5px;
}


