

body {
/*  background-color: #F8F8F8; */
 font-family: 'Permanent Marker', cursive;
/*  font-size: 14px;*/
/*  font-weight: normal;*/
/*  line-height: 1.2em;*/
  margin: 5px;
  color:#428bca;
}

/*
@-ms-viewport{
  width: device-width;
}
*/
.googlefonttitle {
  font-family: 'Permanent Marker', cursive;
  font-size: 140%;
  text-shadow: 3px 3px 3px #aaa;
  color: red !important;
}

.bigphone {
 /* display: block;*/
  font-family: 'Permanent Marker', cursive;
  text-shadow: 4px 4px 4px #aaa;
 /* width: 70%; */
 font-size: 200%;
  /*width: 90%;*/
  margin-left: auto ;
  margin-right: auto ;
  color: red !important;  
}

.googlefontcont {
 
  
  
}

.inputgroupsize {
  
  width: 55%;
 /* float: right; */
  
}


.bigspinner {
  
  font-family: 'Permanent Marker', cursive;
  text-shadow: 4px 4px 4px #aaa;
 /* width: 70%; */
 font-size: 170%;
  width: 50%;
  margin-left: auto ;
  margin-right: auto ;
}

